<html>

<head>
  <style type='text/css'>

  body {
    height: 100%;

    padding: 100px

  }
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    padding-bottom :50px

  }
  </style>
</head>


<body>
<% for (var i=0; i<data.length; i++){  %>
<h1>Title</h1>
<h1><%=data[i].title%></h1>
<h1>Author</h1>
<h1><%=data[i].authorname%></h1>
<h1>Content</h1>
<h1><%=data[i].content%></h1>
<img src='/uploads/<%=data[i].file%>'>

<% } %>




</body>

</html>
